<h1 class="mt-5" >Weather Checker</h1>
<div class="mt-2">

<div class="row">
  <div class="col-lg-4 m-2">
    <%= render 'weather_form' %>
  </div>
  <div class="col-lg-4 m-2">
    <%= render 'display_weather' %>
  </div>
</div>

</div>
