.card-block{
  height: 300px;
  width: 300px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
  &:hover{
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
  }
}

.scrolling-wrapper{
  overflow-x: auto;
}